@page "/Categoria_Listar"

<h3>Listagem de categorias</h3>

<table class="table table-striped">
    <tr>
        <th>Codigo</th>
        <th>Descrição</th>
    </tr>
    <tr class="table-dark" >
        <td>1</td>
        <td>Terror</td>

    </tr>
    <tr class="table-secondary">
        <td>2</td>
        <td>Suspense</td>
    </tr>
    <tr class="table-warning">
        <td> 3</td>
        <td>Drama</td>
    </tr>
    <tr class="table-danger">
        <td>4</td>
        <td>Ação </td>
    </tr>
    <tr class="table-success">
        <td>5</td>
        <td>Comédia</td>
    </tr>
</table>

@code {

}
